<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <header>
    <nav>
        <div class="nav-container">
            <div class="logo">
                <img src="/static/images/Blessedarmslogo.jpg" alt="Blessed Arms Logo">
            </div>

            <div class="menu-toggle" id="menu-toggle">
                <i class="fas fa-bars"></i>
            </div>

            <ul class="pages" id="nav-pages">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
        </div>
    </nav>
  </header>

  <main>
    <div class="form-image">
        <img src="/static/images/home.jpg" alt="Children with donations">
        <section class="input-form">
            <form action="https://formspree.io/f/xqalbdeb" method="POST">
                <label>Name:</label>
                <input type="name" name="Name" required>
                <label>Email:</label>
                <input type="email" name="Email" required>
                <label>Message:</label>
                <textarea name="Message" required>Enter your message here</textarea>

                <button type="submit">Send Message</button>
            </form>
        </section>
    </div>
   
  </main>


  <footer class="footer">
    <div class="footer-content">
      <div class="footer-left">
        <div class="footer-image">
          <img src="/static/images/Blessedarmslogo.jpg" alt="Logo">
        </div>
        <h4>Get in Touch with Us:</h4>
        <ul>
          <li>Address: Gayaza Subcounty, Kiwenda</li>
          <li>Tel: +256-704-115-370</li>
          <li>Email: <a href="mailto:blessed.arms.charity@gmail.com">blessed.arms.charity@gmail.com</a></li>
        </ul>
      </div>

      <div class="footer-right">
        <p>
          Or you can reach out to us on:
        </p>
        <div class="icons">
          <a href="https://www.facebook.com/profile.php?id=100093146029432" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a href="https://linkedin.com/in/matovu-akisam-375bb3221" target="_blank"><i class="fab fa-linkedin-in"></i></a>
          <a href="https://instagram.com/blessed.arms.charity.home" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>

    <div class="bottom">
        <p>&copy; 2025 | Terms and Conditions | All Rights Reserved</p>
      </div>
  </footer>

  <script>
    const toggle = document.getElementById('menu-toggle');
    const menu = document.getElementById('nav-pages');
    const icon = toggle.querySelector("i");

    toggle.addEventListener('click', () => {
      menu.classList.toggle('show');

      //icon between bars and X
      if (menu.classList.contains('show')) {
        icon.classList.remove('fa-bars');
        icon.classList.add('fa-times');
      } else {
        icon.classList.remove('fa-times');
        icon.classList.add('fa-bars');
      }
    });
  </script>
</body>
</html>