<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blessed Arms Charity Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/static/CSS/home.css">
</head>
<body>
    <header>
        <nav>
            <div class="nav-container">
                <div class="logo">
                    <img src="/static/images/Blessedarmslogo.jpg" alt="The Charity Home Logo">
                </div>

                <div class="menu-toggle" id="menu-toggle">
                    <i class="fas fa-bars"></i>
                </div>

                <ul class="pages" id="nav-pages">
                    <li>
                        <a href="{{ url_for('home') }}">Home</a>
                    </li>
                    <li>
                        <a href="{{ url_for('about') }}">About</a>
                    </li>
                    <li>
                        <a href="{{ url_for('contact') }}">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <section class="image1">
            <div class="image1-content">
                <h1>Blessed Arms Charity Home</h1>
                <p>
                    A Safe Haven of Hope for Vulnerable Children
                </p>
            </div>
        </section>

        <section class="intro">
            <div class="intro-container">
                <div class="introduction">
                    <h1>INTRODUCTION</h1>
                    <p>
                        At <b>Blessed Arms Charity Home</b>, every child matters. Located in the heart of Gayaza Subcounty, Kiwenda, our home is a safe and loving haven for vulnerable children who need care, support, and a second chance at life
                    </p>

                    <p>
                        We currently provide shelter, education, and emaotional support to 23 amazing children including 5 from disadvantaged families. This helps them to grow in a nurturing environment filled with hope and compassion.
                    </p>

                    <p>
                        Our mission is simple yet powerful: to give every child the love and opportunities they deserve. At Blessed Arms, we believe that kindness can change lives and together, we are building brighter futures, one child at a time
                    </p>
                </div>
            </div>

            <div class="children">
                <img src="/static/images/home.jpg" alt="Children with donations">
            </div>
        </section>

        <section>
            <div class="intro-container">
                
            </div>
        </section>

        <section>
            <div class="elder">
                <h1>ELDERLY CARE</h1>
                <p>
                    Here at Blessed Arms Charity, we are also dedicated to providing essential assistance to elderly people in need, focusing on their most basic yet vital requirements. Our primary goal is to ensure that our elderly friends receive the care and support they truly deserve, particularly in times of hardships. We provide food, as many struggle to access it.
                </p>

                <p>
                    These small acts of kindness can have great impact on the lives of the elderly. Your contribution will help us to provide more food and support to individuals and expand our services to reach even more people who require assistance. Together, we can bring joy, comfort and hope to people need it the most
                </p>

                <img src="/static/images/elder.jpg" alt="Elderly support">
            </div>
        </section>

        <section>
            <div class="donate">
                <h2>FEED A CHILD, CHANGE A FUTURE</h2>

                <p>
                    Every day, countless children go to bed hungry, uncertain of where the next meal will come from. Hunger robs them of good, health, interrupts their education, and reduces their chance to a bright future they deserve. We cn change that together.
                </p>

                <p>
                    In Matthew 25:40, Jesus says <em>"Truly I tell you, whatever you did for one of the least of these brothers and sisters of mine, you did for me."</em> Feeding children in need is more than a charity, it is a powerful act of love and kindness towards the most vulnerable among us
                </p>

                <p>
                    Your support can provide food, hope, and a chance at a better tomorrow for these precious children. Even a smallest group can make a lasting relationship in a children's life.
                </p>

                <div class="donate-image">
                    <img src="/static/images/children feeding.jpg" alt="Children Feeding">

                    <div class="overlay">
                       <button class="donate-button">
                            <a href="{{ url_for('donate') }}">Donate</a>
                       </button>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="footer-content">
            <div class="footer-left">
                <div class="footer-image">
                    <img src="/static/images/Blessedarmslogo.jpg" alt=" Logo">
                </div>

                <h4>Get in Touch with Us:</h4>
                <ul>
                    <li>Address: Gayaza Subcounty, Kiwenda</li>
                    <li>Tel: +256-704-115-370 </li>
                    <li>Email: <a href="mailto:blessed.arms.charity@gmail.com">blessed.arms.charity@gmail.com</a></li>
                </ul>
            </div>

            <div class="footer-right">
                <p>
                    Or you can reach out to us on:
                </p>

                <div class="icons">
                    <a href="https://www.facebook.com/profile.php?id=100093146029432" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://linkedin.com/in/matovu-akisam-375bb3221" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    <a href="https://instagram.com/blessed.arms.charity.home" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>

        <div class="bottom">
            <p>
                &copy; 2025 | Terms and Conditions | All Rights Reserved
            </p>
        </div>
    </footer>

    <script>
        const toggle = document.getElementById('menu-toggle');
        const menu = document.getElementById('nav-pages');
        const icon = toggle.querySelector("i");

        toggle.addEventListener('click', () => {
            menu.classList.toggle('show');

            //icon between bars and X
            if (menu.classList.contains('show')) {
                icon.classList.remove('fa-bars');
                icon.classList.add('fa-times');
            } else {
                icon.classList.remove('fa-times');
                icon.classList.add('fa-bars');
            }
        });
    </script>
</body>
</html>